<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

<head>
<meta charset="UTF-8">
<title></title>
</head>

<body>

	<form method="Post" action="/salvar" th:object="${cliente}">
		
		<input type="text" class="" th:field="*{nome}" placeholder="Nome completo"/> <br>
		<input type="number" class="" th:field="*{cpf}" placeholder="CPF"/> <br>
		<input type="date" class="" th:field="*{dataNascimento}" placeholder="Data de nascimento"/> <br>	
		<input type="text" class="" th:field="*{estado}" placeholder="Estado"/> <br>
		<input type="text" class="" th:field="*{cidade}" placeholder="Cidade"/> <br>
		<input type="text" class="" th:field="*{bairro}" placeholder="Bairro"/> <br>
		<input type="text" class="" th:field="*{rua}" placeholder="Rua"/> <br>
		<input type="number" class="" th:field="*{numero}" placeholder="numero"/> <br>
		<input type="email" class="" th:field="*{email}" placeholder="Email"/> <br>
		<input type="password" class="" th:field="*{senha}" placeholder="Senha"/> <br>
		<input class="btn btn-success" type="submit" value="Cadastrar">
	</form>


<script src="/js/bootstrap.min.js"></script>
</body>

</html>