<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

<head>
	<meta charset="UTF-8">
	<title>Teste</title>
</head>
<body>
	
	<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

	
	
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Código</th>
				<th scope="col">Nome</th>
				<th scope="col">Preço</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "prato: ${listaDePratos}">
				<td th:text="${prato.codigo}"></td>
				<td th:text="${prato.nome}"></td>
				<td th:text="${prato.preco}"></td>
				
				<td> <img width="200" height="200" th:src="@{'/images/'+${prato.nome}+.png}"/> </td>

				<td> <a th:href="@{/home/lista/excluir/{codigo} (codigo = ${prato.codigo})}"> <button type="button" class="btn btn-danger">X</button></td>
				<td> <a class="btn btn-primary" th:href="@{/home/lista/atualizar/{codigo} (codigo = ${prato.codigo})}">Editar</a></td>
				<td> <a class="btn btn-primary" th:href="@{/adicionarCarrinho/{codigo}(codigo = ${prato.codigo})}">Comprar</a> </td>
			</tr>
		</tbody>
	</table>
	<br>
	<td><a th:href="@{/home}"><button type="button" class="btn btn-success">Voltar ao Inicio</button></td>

<script src="/js/bootstrap.min.js"></script>
</body>

</html>